# H1: Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages in Data Science
- Commonly used libraries in Data Science
- Data Science Tools
- Examples of arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:

1. Python 
2. R
3. SQL
4. Java

# Some of the commonly used libraries in data science include

1. Scikit-learn
2. NumPly
3. Matplotlib
4. Pandas

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| KNIME              |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# Print an integer

"This is a simple arithmetic expression to multiply then add integers"

(3*4)+5

17

In [10]:
# Print an integer

"This will convert 200 minutes to hours by dividing by 60"

200/60

3.3333333333333335

## H2: Author

Sheylla Nicole Zelaya Ortiz